<div ng-controller="DefaultController as controller">
    <!--<h3>Parabens vc ta logado :)</h3>

    <button class="btn btn-blue btn-block-xs" ng-click="controller.testeRelatorio()">
        <i class="icon-obras" aria-hidden="true"></i>
        RELATÓRIO
        <div class="ripple-container"></div>
    </button>

    <ul class="main-menu">
        <li ng-repeat="pagina in controller.userData.menu.listaPagina">
            <a href="#{{pagina.caminho}}"><span>{{pagina.pagina}}</span></a>
            <ul>
                <li ng-repeat="pagina in pagina.paginas">
                    <a href="#{{pagina.caminho}}"><span>{{pagina.pagina}}</span></a>
                </li>
            </ul>
        </li>
        <li><a href="#/sair">Sair</a></li>
    </ul>-->


</div>