<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="basePath" value="/"/>
    <add key="WSAssinatura" value="http://loja.rdoapp.com.br/site/webservice/v1/assinatura/subscription/{0}"/>
    <add key="DisableAssinatura" value="true"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--<add key="EmailRemetente" value="toposmailsender@gmail.com" />-->
    <add key="EmailRemetente" value="convite@rdoapp.com.br"/>
    <add key="SenhaRemetente" value="Rdo@301087"/>
    <add key="NomeRemetente" value="Rdo App"/>
    <add key="PastaDeImagens" value="~/Uploads/Imagens/"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </assemblies>
    </compilation>
    <!--<httpRuntime targetFramework="4.5.2" />-->
    <!-- <httpRuntime targetFramework="4.5.2" maxRequestLength="3197152" /> -->
    <httpRuntime targetFramework="4.5.2" maxRequestLength="2147483647" requestLengthDiskThreshold="2147483647" executionTimeout="240"/>
    <globalization culture="pt-BR" uiCulture="pt-BR"/>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-cache"/>
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <rule name="API Rule" stopProcessing="true">
          <match url="^(api)(.*)$"/>
          <action type="None"/>
        </rule>
        <rule name="Angular Rule" stopProcessing="true">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/" redirectType="Temporary"/>
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
    <staticContent>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
    </staticContent>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp>
        <!--<network host="smtp.gmail.com" enableSsl="true" port="587" userName="toposmailsender@gmail.com" password=".topos.123" />-->
        <network host="smtp.rdoapp.com.br" enableSsl="false" port="25" userName="convite@rdoapp.com.br" password="Rdo@301087"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!--<connectionStrings>
    <add name="LaudosPiscinasEntities" connectionString="metadata=res://*/ModelRdoApp.csdl|res://*/ModelRdoApp.ssdl|res://*/ModelRdoApp.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=devbd01.topos.local;user id=user_topos;password=123456;database=rdoapp&quot;" providerName="System.Data.EntityClient" />
    -->
  <!--<add name="LaudosPiscinasEntities" connectionString="metadata=res://*/ModelRdoApp.csdl|res://*/ModelRdoApp.ssdl|res://*/ModelRdoApp.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=50.62.209.193;user id=user_rdo;password=Rd0ApP2017;database=rdoapp&quot;" providerName="System.Data.EntityClient" />-->
  <!--
  </connectionStrings>-->
  <connectionStrings>
    <!--<add name="LaudosPiscinasEntities" connectionString="metadata=res://*/LaudosPiscinasModel.csdl|res://*/LaudosPiscinasModel.ssdl|res://*/LaudosPiscinasModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=rdoapp.cslrikufb7hm.us-east-2.rds.amazonaws.com;User Id=rdoadmin;password=rdoapp2018aws;database=novo_rdoapp&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="LaudosPiscinasEntities" connectionString="metadata=res://*/LaudosPiscinasModel.csdl|res://*/LaudosPiscinasModel.ssdl|res://*/LaudosPiscinasModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=123456;database=rdo_wolf&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="LaudosPiscinasEntities" connectionString="metadata=res://*/LaudosPiscinasModel.csdl|res://*/LaudosPiscinasModel.ssdl|res://*/LaudosPiscinasModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=vm04;user id=user_topos;password=123456;database=APAGAR_&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="LaudosPiscinasEntities" connectionString="metadata=res://*/LaudosPiscinasModel.csdl|res://*/LaudosPiscinasModel.ssdl|res://*/LaudosPiscinasModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=vm04;user id=user_topos;password=123456;database=bd_rdo_melhorias&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="LaudosPiscinasEntities" connectionString="metadata=res://*/laudosPiscinasModel.csdl|res://*/laudosPiscinasModel.ssdl|res://*/laudosPiscinasModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=rdoapp.cslrikufb7hm.us-east-2.rds.amazonaws.com;user id=rdoadmin;password=rdoapp2018aws;database=Piscinas&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="LaudosPiscinasEntities" connectionString="metadata=res://*/laudosPiscinasModel.csdl|res://*/laudosPiscinasModel.ssdl|res://*/laudosPiscinasModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=rdoapp.cslrikufb7hm.us-east-2.rds.amazonaws.com;user id=rdoadmin;password=rdoapp2018aws;database=Piscinas_Homologa&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="LaudosPiscinasEntities" connectionString="metadata=res://*/LaudosPiscinasModel.csdl|res://*/LaudosPiscinasModel.ssdl|res://*/LaudosPiscinasModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=rdoapp;password=rdoapp1234;database=novo_rdoapp&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0"/>
      </parameters>
    </defaultConnectionFactory>
    <!--<providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>-->
  </entityFramework>
</configuration>